body {
  background-image: url('./components/landingimage.png');
  background-size: cover;
}

.App {
  text-align: center;
}

.header {
  text-align: center;
  color:#A2C3A4;
  text-decoration-line: none;
  font-family: 'Playfair';
  color: rgb(177, 172, 156);
}

.signup-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 150px auto;
  padding: 50px 20px;
  background-color: #A2C3A4;
}
.signup-input, .signup-btn {
  margin: 10px auto;
  padding: 5px 50px;
}


.login-container {
  text-align: center;
  margin: 0 auto;
}

.button-form-container {
  margin: 100px auto;
  width: 400px;
}

.signup-btn {
  font-family: 'Playfair';
  font-weight:500;
  font-size: 18px;
  padding: 8px 20px;
  margin: auto;
  background-color: #a2c3a471;
  border: none;
  color:rgb(73, 70, 70);
}

.signin-container {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 30px 50px;
  background-color: #a2c3a49c;
}

.signin-input {
  margin: 8px auto;
  padding: 8px 30px;
  color:rgb(73, 70, 70);
}

.submit-btn {
  padding: 8px 20px;
  margin: 10px auto; 
  background-color: rgba(255, 255, 255, 0.431);
  border: none;
  font-family: 'Playfair';
  color:rgb(73, 70, 70);
  font-size: 16px;
}

.signin-text {
  color:rgb(73, 70, 70);
  font-family: 'Playfair';
  font-size: 18px;
  font-weight: 300;
}


.landing-container {
  text-align: center;
}

.enter-btn {
  margin: 200px auto;
  padding: 15px 30px;
  font-size: 15px;
  font-family: 'Playfair';
  opacity: .5;
}

.addplant-btn {
  display: flex;
}


.addplant-btn {
  margin: 20px auto;
  text-align: center;
  padding: 10px 15px;
  opacity: .4;
  color:rgb(81, 78, 71);
  font-weight: bold;
  font-family: 'Playfair';
}

.li-container {
display: flex;
flex-wrap: wrap;
margin: auto 8px;
padding: 0;
}


.rooms {

  margin: 20px auto;
  list-style: none;
  color:#768076;
}

.room-text {
  font-size: larger;
  font-weight: 600;
  margin: 20px auto;
  text-align: center;
  font-family: 'Playfair';
  font-weight: 300;
  color: rgb(89, 86, 86);
}


.plant-name {
  margin: 20px auto;
  text-align: center;
  font-family: 'Playfair';
  font-weight: 300;
}

.sampleplant-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid rgb(135, 133, 129);
  background-color: rgb(226, 230, 219);
}

.main-container {
  display: flex;
  justify-content: center;
  background-color: #A2C3A4 ;
}
.roomlist-container {
  margin: auto 20px;
}
.apptitle-container {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.addplantbtn-container {
 margin: 30px auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto auto;
}

.mainroom-container {
width: 700px;
height: 500px;
border: 1px solid rgba(121, 143, 132, 0.596);
margin: 30px auto;
display: flex;
justify-content: center;
background-color: #bccfbe;
}

#room-input, #plantname-input, #description-input {
  font-family: 'Playfair';
  padding: 10px 15px;
  margin: 6px 30px;
  border-color: rgb(238, 236, 231);
}

#image-input {
 font-family: 'Playfair';
 padding: 10px 5px;
 margin: 6px 30px;
 text-align: center;
}

#image-input {
  border: 2px solid rgb(246, 248, 247);
  padding: 5px auto;
  background-color: rgba(242, 250, 246, 0.876);
}

.roomform-submitbtn {
  font-family: 'Playfair';
  padding: 10px 10px;
  margin: 5px auto;
  color: rgba(108, 123, 116, 0.596);
}


/* #description-input {

} */


.dropdown-panel {
  display: block;
}

.hide {
  display: none;
}

