.App {
  text-align: center;
}

.header {
  text-align: center;
  color:rgb(61, 125, 94);
  text-decoration-line: none;
  
}
.signup-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 150px auto;
  padding: 50px 20px;
  background-color: rgb(180, 219, 203);
}
.signup-input, .signup-btn {
  margin: 10px auto;
  padding: 5px 50px;
}


.login-container {
  text-align: center;
}

.button-form-container {
  margin: 100px;
}

.signup-btn {
  padding: 8px 20px;
}

.signin-container {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 400px;
  padding: 30px 50px;
  background-color: rgb(188, 236, 188);
}

.signin-input {
  margin: 8px auto;
  padding: 8px 30px;
}

.submit-btn {
  padding: 8px 20px;
  margin: 10px auto; 
}

.signin-text {
  color: rgb(6, 115, 6);
}

.landing-header {
  background-image: url('src/components/landingImage.png');
}