html {
  background: url('./components/landingimage.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  text-align: center;
}

.apptitle-container {
  margin-right: auto;
  justify-content: start;
}

.protected {
  text-align: center;
}

.header {
  display: inline-block;
  justify-content: left;
  text-decoration-line: none;
  font-family: 'Playfair';
  color: rgb(58, 86, 58);
}

.header-text {
  margin-left: 40px;
  font-weight: 100;
}

.header-container {
  display: flex;
  flex-direction: row-reverse;
  background-color: #7680769e;
}

.signup-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 600px;
  margin: 150px auto;
  padding: 50px 20px;
  background-color: #a2c3a4;
}
.signup-input,
.signup-btn {
  margin: 10px auto;
  padding: 5px 50px;
}

.login-container {
  text-align: center;
  margin: 0 auto;
}

.button-form-container {
  margin: 100px auto;
  width: 400px;
}

.signup-btn {
  font-family: 'Playfair';
  font-weight: 500;
  font-size: 18px;
  padding: 8px 20px;
  margin: auto;
}

.signin-container {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 30px 50px;
  background-color: #a2c3a4;
}

.signin-input {
  margin: 8px auto;
  padding: 8px 30px;
  color: rgb(73, 70, 70);
}

.submit-btn {
  padding: 8px 20px;
  margin: 10px auto;
}

.signin-text {
  color: rgb(73, 70, 70);
  font-family: 'Playfair';
  font-size: 18px;
  font-weight: 300;
}

.landing-container {
  text-align: center;
}

.enter-btn {
  margin: 200px auto;
  padding: 15px 30px;
  font-size: 15px;
  font-family: 'Playfair';
  opacity: 0.5;
}

.addplant-btn {
  display: flex;
}

.addplant-btn {
  margin: 20px auto;
  text-align: center;
  padding: 10px 15px;
  opacity: 0.4;
  color: rgb(81, 78, 71);
  font-weight: bold;
  font-family: 'Playfair';
}

.li-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
  flex-flow: wrap row;
  padding: 0;
}

.plantInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plants {
  justify-content: center;
  border: #1b3529 2px solid;
  display: flex;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
  flex-flow: wrap row;
}

.rooms {
  margin: 20px auto;
  list-style: none;
  color: #768076;
}

.roomList {
  /* border: black 2px solid; */
  display: flex;
  flex-direction: column;
  width: 200px;
}

.rooms-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roomInfo {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.removeRoomBtn,
.updateRoomBtn {
  display: flex;
}

.room-text {
  font-size: larger;
  font-weight: 600;
  margin: 20px auto;
  text-align: center;
  font-family: 'Playfair';
  font-weight: 300;
  color: rgb(89, 86, 86);
}

.plant-name {
  color: #004f2d;
  font-size: 20px;
  margin: 20px auto;
  text-align: center;
  font-family: 'Playfair';
  font-weight: 300;
}

.sampleplant-img {
  width: 250px;
  height: 250px;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
  border: 1px solid rgb(135, 133, 129);
  background-color: rgb(226, 230, 219);
}

.main-container,
.rooms-container,
.plantcard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #a2c3a4;
  margin: 0 auto;
  text-align: center;
}

.roomlist-container {
  margin: auto 20px;
}

/* .apptitle-container {
  display: flex;
  justify-content: center;
  margin: 50px auto;
} */

.addplantbtn-container {
  margin: 30px auto;
}

.form-container,
.roomform-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 10px auto;
}

.mainroom-formcontainer {
  width: 700px;
  height: 150px;
  margin: auto auto;
  background-color: #bccfbe;
}
.roomform-text {
  margin: 10px auto;
  font-family: 'Playfair';
  font-size: 16px;
  font-weight: 200;
  color: gray;
}

.mainroom-container {
  width: 700px;
  height: 300px;
  border: 1px solid rgba(121, 143, 132, 0.596);
  margin: 0 auto 30px auto;
  display: flex;
  justify-content: center;
  background-color: #bccfbe;
  border: none;
}

#room-input,
#plantname-input,
#description-input {
  font-family: 'Playfair';
  padding: 10px 15px;
  margin: 6px 30px;
  border-color: rgb(238, 236, 231);
}

#image-input {
  font-family: 'Playfair';
  padding: 10px 5px;
  margin: 6px 30px;
  text-align: center;
}

#image-input {
  border: 2px solid rgb(246, 248, 247);
  padding: 5px auto;
  background-color: rgba(242, 250, 246, 0.876);
}

.formbtns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.roomform-submitbtn {
  font-family: 'Playfair';
  width: 100px;
  padding: 10px 10px;
  margin: 5px 5px;
  color: rgba(108, 123, 116, 0.596);
}

.dropdown-panel {
  display: block;
}

.room-panel {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

.account-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #a2c3a4;
}

.btn {
  padding: 5px;
  margin: 10px auto;
}

.rooms-container {
  display: flex;
}
.rooms {
  flex-direction: column;
  flex-wrap: wrap;
}

.plantcard-image {
  height: 300px;
  width: 300px;
  padding: 2px;
  border-radius: 50%;
}

.plantname-text,
.room-title,
.details,
h3 {
  font-family: 'Playfair';
  color: #30463d;
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
}

a {
  margin: 8px;
  text-decoration: none;
  color: #1b3026;
  font-family: 'Playfair';
  font-weight: 500;
  font-size: 18px;
}

.welcome-container {
  display: flex;
  justify-content: left;
}

.welcome-note {
  font-size: 18px;
  padding: 0 20px;
}

.update-container {
  display: flex;
  margin: 70px auto;
  background-color: #a2c3a4;
  padding: 60px;
}
.update-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 0 auto;
}
.update-container {
  display: flex;
}

.update-form {
  margin: auto auto;
}

.updatetext-h1 {
  color: #013720;
  font-family: 'Playfair';
}
.update-plantname,
.update-roomname,
.update-details {
  margin: 5px;
  color: #013720;
  font-family: 'Playfair';
}

.account-container {
  display: flex;
  justify-content: center;
  height: 300px;
  margin: 100px;
}

.btn {
  margin: 40px 20px;
  padding: 10px 15px;
  font-family: 'Playfair';
  font-size: 16px;
  color: #004f2d;
}

.account-text {
  color: #013720;
  font-family: 'Playfair';
}

.update-submitbtn {
  margin: 5px auto;
  padding: 5px 15px;
  color: #013720;
  font-family: 'Playfair';
}

@media screen and (max-width: 540px) {
  .header-text {
    font-size: 16px;
    margin-left: 5px;
  }
  .welcome-note {
    font-size: 12px;
  }
  a {
    font-size: 11px;
  }
  .nav {
    margin: auto 0;
  }
  .name-text,
  .updatedetails-text,
  .update-plantname,
  .update-roomname,
  .update-details {
    margin: 5px 20px;
    padding: 5px auto;
  }

  .update-form {
    justify-content: center;
    text-align: center;
    width: 150px;
  }
  .update-submitbtn {
    margin: 5px auto;
    padding: 5px 15px;
    color: #013720;
    font-family: 'Playfair';
    flex-direction: column;
  }
}

@media screen and (min-width: 701px) {
  .welcome-note {
    font-size: 16px;
    padding: 0 20px;
  }
  a {
    margin: auto 8px;
    text-decoration: none;
    color: #1b3026;
    font-family: 'Playfair';
    font-weight: 500;
    font-size: 16px;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .update-image {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    padding: 30px;
  }

  .update-plantname,
  .update-roomname,
  .update-details {
    margin: 5px;
    padding: 10px 40px;
    color: #004f2d;
  }
  .update-container {
    justify-content: center;
  }
}

@media screen and (max-width: 420px) {
  .update-container {
    display: flex;
    flex-direction: column;
  }
  .update-image {
    margin: 0 auto;
    text-align: center;
    width: 250px;
    height: 250px;
  }

  .update-form {
    margin: 0 auto;
    width: 300px;
  }
  .update-plantname,
  .update-roomname,
  .update-details {
    padding: 5px 10px;
  }
  .update-submitbtn {
    flex-direction: column;
  }
  .update-container {
    justify-content: center;
  }

  .updatetext-h1 {
    font-size: 16px;
  }
  .updatedetails-text,
  .name-text {
    padding: 2px 20px;
    font-size: 12px;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #a2c3a4;
  border: #004f2d 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 50vw;
}
